# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
packages/db/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/
.nyc_output/

# editors / OS
.DS_Store
.idea/
.vscode/

# local storage (minio/uploads)
.storage/
